<!doctype html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Calculate Pi</title>
    <link rel="stylesheet" href="https://unpkg.com/awsm.css/dist/awsm.min.css">
</head>

<body>
    <header>
        <h1>Calculate digits of Pi</h1>
        <p>
            This service calculates digits of pi
        </p>
    </header>
    <main>
        <form method="post" enctype=multipart/form-data> 
            <label for="digits">Number of digits:</label>
            <input type="text" name="digits" id="digits" value="{{ digits }}">
            <input type="submit" value="Calculate">
        </form>

        {% if value %}
        <textarea rows="15" cols="110" style="height: 300px; font-size: 10pt; font-family: monospace">{{value}}</textarea>
        {% endif %}
    </main>
    <footer>
        <p><b>Pro tip:</b> You can also provide the number of digits with the <code>digits</code> query parameter.
            <br>
            For example <a href="/?digits=100">/?digits=100</a>
        </p>
    </footer>
</body>